@using Microsoft.Identity.Web
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (User.Identity?.IsAuthenticated == true)
    {
        /* Display authenticated user info */
        <p>Authenticated user: @User.Identity.Name</p>
        <p>Authentication type: @User.Identity.AuthenticationType</p>
        <p>Is authenticated: @User.Identity.IsAuthenticated</p>
        <p>[MSAL] DisplayName: @User.GetDisplayName()</p>
        <p>[MSAL] DomainHint: @User.GetDomainHint()</p>
        <p>[MSAL] HomeObjectId (objectId in the tenant where the user actually live): @User.GetHomeObjectId()</p>
        <p>[MSAL] HomeTenantId (tenant where the user actually live): @User.GetHomeTenantId()</p>
        <p>[MSAL] ObjectId (in the app directory): @User.GetObjectId()</p>
        <p>[MSAL] TenantId (of the app): @User.GetTenantId()</p>
        <p>[MSAL] HOME ObjectId (in the app directory): @User.GetHomeObjectId()</p>
        <p>[MSAL] HOME TenantId (of the app): @User.GetHomeTenantId()</p>

        <p>[MSAL] NameIdentifierId: @User.GetNameIdentifierId()</p>
    }
</div>
